@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

body{
  font-family: "Edu AU VIC WA NT Hand", serif;
}

.btn-warning:hover{
  background: green;
  border-color: green;
  color: white;
}